<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ function('wp_head') }}
</head>
<body class="bg-slate-50 text-black">
    {% include "partials/header.twig" %}
        {% block content %}
            {# Content from individual pages goes here #}
        {% endblock %}
    {% include "partials/footer.twig" %}
</body>
</html>